<!DOCTYPE html>
<html>
<head>
  <title>Toko Sejahtera - Beli Produk</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
</style>
</head>
<body>

<div class="row">
  <div class="col-75">
    <div class="container">
      <form method="post" action="/">
      
        <div class="row">
          <div class="col-50">
            <h3>Informasi Pembelian</h3>
            <label for="fname"><i class="fa fa-user"></i> Nama Lengkap</label>
            <input type="text" id="nama" name="nama" placeholder="Nama Lengkap">
            <label for="email"><i class="fa fa-envelope"></i> E-Mail</label>
            <input type="text" id="email" name="email" placeholder="E-Mail">
            <label for="adr"><i class="fa fa-address-card-o"></i> Alamat</label>
            <input type="text" id="alamat" name="alamat" placeholder="Alamat">
          </div>

          <div class="col-25">
            <h3>Informasi Produk</h3>
            <div class="container">
              <h4>Keranjang Belanja <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>1</b></span></h4>
              <% cds.forEach(function(details) { %>
              <p><a>Kode Produk :</a> <span class="price"><%= details._id %></span></p>
              <p><a>Nama Produk :</a> <span class="price"><%= details.namaproduk %></span></p>
              <p><a>Harga Produk :</a> <span class="price">Rp.<%= details.hargaproduk %></span></p>
              <hr>
              <p>Total Belanja<span class="price" style="color:black"><b>Rp.<%= details.hargaproduk %></b></span></p>
              <% }) %>
            </div>
          </div>
        </div>
        <input type="submit" href="javascript:void" value="Lanjut Pembayaran" class="btn">
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).on('click','.send_form', function(){
var input_pesanan = document.getElementById('nama');

var link = 'https://web.whatsapp.com/send',
    phone = '6281234567890',
    headertext = 'Form Pemesanan Toko Sejahtera',
    text_yes = 'Formulir pemesanan telah terkirim!',
    text_no = 'Isi formulir pemesanan terlebih dahulu!';

if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
var link = 'whatsapp://send';
}

if("" != input_pesanan.value){

var input_nama = $("#nama").val(),
    input_email = $("#email").val(),
    input_alamat = $("#alamat").val(),
    input_kodeproduk = $("#kodeproduk").val(),
    input_namaproduk = $("#namaproduk").val(),
    input_hargaproduk = $("#hargaproduk").val();

var pesanan_whatsapp = link + '?phone=' + phone + '&text=' + headertext + '%0A%0A' +
    '*Nama Pemesan* : ' + input_nama + '%0A' +
    '*E-Mail* : ' + input_email + '%0A' +
    '*Alamat* : ' + input_alamat + '%0A' +
    '*Kode Produk* : ' + input_kodeproduk + '%0A' +
    '*Nama Produk* : ' + input_namaproduk + '%0A' +
    '*Total Harga* : ' + input_hargaproduk + '%0A';

window.open(pesanan_whatsapp,'_blank');
document.getElementById("text-info").innerHTML = '<span class="yes">'+text_yes+'</span>';
} else {
document.getElementById("text-info").innerHTML = '<span class="no">'+text_no+'</span>';
}
});
</script>

</body>
</html>