<!DOCTYPE <html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body { padding-top:50px; }
</style>
  <meta charset="UTF-8">
  <title>Toko Sejahtera - Halaman Admin</title>
</head>
<body>
<div class="container">
  <h1>Menu Administrator</h1>
  <p>Proyek Ulangan Akhir Semester Pengantar Pemrograman Full Stack</p>
  <a href="/" class="btn btn-info" role="button">Halaman Toko</a>
  <a href="/admin" class="btn btn-info" role="button">Halaman Admin</a>
  <a href="/tambah-supplier" class="btn btn-info" role="button">Tambah Supplier</a>
  <a href="/data-supplier" class="btn btn-info" role="button">Data Supplier</a>
</div>
<div class="container">
  <hr>
  <div class="container">
    <div class="container">
  <h3>Toko Sejahtera - Tambah Supplier</h3>
  <form action="/tambah-supplier" method="POST">
    <label>Nama Supplier</label>
    <input type="text" class="form-control" placeholder="Nama Supplier" name="namasupplier">
    <label>Alamat</label>
    <input type="text" class="form-control" placeholder="Alamat" name="alamat">
    <label>No Telepon</label>
    <input type="text" class="form-control" placeholder="Nomor Telepon" name="notelepon">
    <br>
    <button class="btn btn-primary" type="submit">Tambah Data</button>
    <a href="/admin" class="btn btn-info" role="button">Kembali</a>
  </div>
</div>
</div>
</body>
</html>